* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #2c3e50;
  color: white;
}

.App {
  text-align: center;
  margin: 25px;
}

.koffertbilde {
  border-radius: 50%;
  height: 150px;
  width: auto;
  margin-top: 30px;
}

.fremsidebilde {
  border-radius: 50%;
  height: 250px;
  width: auto;
  margin-top: 30px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.text-box {
  word-wrap: break-word;
  max-width: 500px;
  text-align: center;
}

.text-box p {
  margin-top: 50px;
}

.nav {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  margin-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2c3e50;
  z-index: 1000;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 25%;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  text-decoration: underline;
  color: #dddddd;
}

body {
  padding-top: 60px;
}

.fremside {
  text-align: center;
}

.fremside h1 {
  margin-top: 50px;
}

.fremside h3 {
  margin-top: 5px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.fremside p {
  margin-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.projectview {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #34495e;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  margin-top: 50px;
}

.projectview img {
  width: auto;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.projectview h1 {
  color: #ecf0f1;
  font-size: 1.25rem;
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

.projectview p {
  color: #bdc3c7;
  margin: 10px 0;
}

.projectview a {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
  transition: color 0.3s;
}

.projectview a:hover {
  color: #c0392b;
}

.projectview:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #e74c3c;
}

a:hover {
  color: #c0392b;
}

.prosjektbilde {
  width: 100px;
  height: auto
}

.logoer {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.ikoner {
  height: 50px;
  width: auto;
  margin: 10px;
}

.logoer a {
  color: white;
}

.fremside ul {
  list-style-type: none;
}

.arbeid {
  margin-top: 50px;
}

.imgcompanys {
  height: 150px;
  width: auto;
  margin-top: 15px;
}

.skill-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #34495e;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  height: 170px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toc {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #2c3e50;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.toc a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toc a:hover {
  background-color: #34495e;
}

#education,
#work-experience,
#programming-skills {
  scroll-margin-top: 80px;
}

@media (max-width: 900px) {
  .skill-card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .skill-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.skill-card img {
  height: 75px;
  width: auto;
  margin-top: 20px;
}

.skill-card p {
  margin: 0;
  font-size: 16px;
  color: #ecf0f1;
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }

  .App {
    margin: 15px;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .nav ul {
      flex-direction: row;
      gap: 1rem;
      margin: 0;
      margin-left: auto;
      font-size: 1rem;
  }

  .nav a {
      padding: 0.5rem;
      font-size: 1.2rem;
  }

  .koffertbilde {
    height: 100px;
    margin-top: 20px;
  }

  .fremsidebilde {
    height: 250px;
    margin-top: 20px;
  }

  .about {
    flex-direction: column;
    margin-top: 50px;
  }

  .text-box {
    max-width: 90%;
    margin: 0 auto;
  }

  .nav ul {
    font-size: 1rem;
    margin-right: 10%;
  }

  .fremside h3,
  .fremside p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectview {
    height: auto;
    margin-top: 50px;
    padding: 15px;
  }

  .projectview img {
    height: 80px;
  }

  .projectview h1 {
    font-size: 1rem;
    max-height: 2em;
  }

  .projectview p {
    font-size: 0.9rem;
  }

  .skill-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 1fr;
  }

  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #34495e;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .skill-card img {
    height: 50px;
    margin-top: 10px;
    align-self: center;
  }

  .skill-card p {
    margin: 0;
    font-size: 16px;
    color: #ecf0f1;
    text-align: left;
    margin-top: 10px;
  }

  .logoer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .ikoner {
    height: 40px;
    width: auto;
    margin: 20px;
  }

  .arbeid {
    margin-top: 30px;
  }

  .imgcompanys {
    height: 100px;
    margin-top: 10px;
  }

  .toc {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: #2c3e50;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .toc a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
  }

  .toc a:hover {
    background-color: #34495e;
  }
}