.App {
  text-align: center;
  margin-top: 25px;
  color: white;
}

.bilde {
  border-radius: 50%;
  height: 250px;
  width: auto;
  
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  word-wrap: break-word;
  max-width: 500px; /* Limit the maximum width of the text box to 100px */
  text-align: center; /* Center-align the text within the box */
}